.advantages {
  background-color: @basic-white;
}

.advantages__wrapper {
  padding: 30px;
  outline: 5px solid aqua;
  outline-offset: -5px;

  @media (min-width: @desktop-width) {
    padding: 50px 225px;
  }
}

.advantages__title {
  margin: 0;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.advantages__item {
  color: @basic-black;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    flex: 1 0 350px;
    max-width: 350px;

    margin-bottom: 80px;
    font-size: 20px;
    line-height: 22px;

    &:nth-child(3n) {
      margin-bottom: 0;
    }

    &:nth-child(1) {
      order: -3;
    }

    &:nth-child(2) {
      order: -1;
    }

    &:nth-child(4) {
      order: -2;
    }

    &:nth-child(5) {
      order: -1;
    }
  }
}

.advantages__description {
  margin: 0;
  padding: 0;
}
