.button {
  display: block;
  font-family: inherit;
  color: @basic-grey;
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 14px 11px;
  border: 2px solid @basic-grey;
  cursor: pointer;
}
