.card {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.card__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @basic-black;
  margin: 0;
  padding: 0;
}

.card__link-title {
  color: @basic-black;
  text-decoration: none;
}

.card__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: @basic-grey;
  margin: 0;
  padding: 0;
}

.card__container-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: @basic-black;
  margin: 0;
  padding: 0;
}
