.catalog {
  margin: 0;
  padding: 0;
  background-color: @basic-white;
}

.catalog__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  outline: 5px solid lime;
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    padding-top: 110px;
    padding-bottom: 57px;
  }
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.catalog__item {
  @media (min-width: @desktop-width) {
    margin-right: 51px;
  }
}
