.contacts {
  background-color: @basic-white;
}

.contacts__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 30px;
  outline: 5px solid gold;
  outline-offset: -5px;
}

.contacts__title {
  color: @basic-black;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.contacts__list {
  color: @basic-grey;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  font-style: normal;
}

.contacts__email {
  color: @basic-grey;
  text-decoration: none;
}

.contacts__button {
  margin: 0;
}
