.copyright__text {
  color: @basic-black;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  padding-right: 15px;

  @media (min-width: @tablet-width) {
    padding-right: 27px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 29px;
  }
}

.copyright__link {
  padding-top: 8px;
  color: @basic-green;

  &:hover svg {
    color: @special-green-underline-2;
  }

  &:active svg {
    color: @special-green-underline-2;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    margin-top: -16px;
  }
}
