.form {
  margin: 0;
  padding: 0;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__legend {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: @basic-green;
  text-transform: uppercase;
  border: none;
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: @basic-black;
  display: block;

  &--contacts {
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    color: @basic-green;
  }
}

.form__input {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: fade(@basic-black; 30%);
}

.form__textarea {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: fade(@basic-black; 30%);
}

.form__note {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: @basic-grey;
}
