.main-nav {
  background-color: @basic-white;
  color: @basic-black;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: auto 320px 348px auto;
    grid-template-rows: min-content min-content;

    &::before {
      content: "";
      display: block;
      background-color: @special-grey-background;
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: auto 701px 349px auto;
    grid-template-rows: min-content min-content;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.main-nav__toggle {
  align-self: flex-end;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
