.main-form {
  margin: 0;
}

.main-form__wrapper {
  background-color: @basic-white;
  padding-top: 28px;
  padding-bottom: 57px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 50px;
  }
}
