.page-footer {
  background-color: @special-grey;
}

.page-footer__wrapper {
  background-color: @special-grey;

  @media (min-width: @tablet-width) {
    padding: 0 50px;
    min-height: 143px;
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    */
    display: grid;
    grid-template-columns: 224px auto min-content;
    grid-template-rows: 143px;
    align-items: start;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 414px auto min-content;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -1;
    justify-content: left;
    margin-top: 51px;
  }
}

.page-footer__social {
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 59px;
  padding-right: 59px;

  @media (min-width: @tablet-width) {
    padding: 0;
    min-height: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: -1;
    margin-top: 55px;
  }
}

.page-footer__copyright {
  min-height: 80px;
  width: 260px;
  border-top: 1px solid @special-grey-divide;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: @tablet-width) {
    min-height: auto;
    border: none;
    width: auto;
    grid-column-start: -1;
    grid-column-end: -2;
    grid-row-start: 1;
    grid-row-end: -1;
    justify-content: flex-end;
    margin-top: 44px;
  }
}
