.page-main {
  background-color: @basic-white;
  color: @basic-black;
  margin: 0;
}

.page-main__wrapper {
  background-color: @special-grey;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  min-height: 176px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 5px solid fuchsia;
  outline-offset: -5px;
}

.page-main__title {
  color: @basic-black;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
}
