.page-header {
  background-color: @basic-white;
  color: @basic-black;
  width: 260px;
  margin: 0 auto;
  padding: 0 30px;
  outline: 1px solid red;
}
.page-header__logo {

}
.page-header__slogan {

}
