.page-header {
  background-color: @basic-white;
  color: @basic-black;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.page-header__slogan {
  display: none;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    display: block;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: end;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.page-header__container {
  padding-top: 21px;
  padding-bottom: 17px;
  border-top: 1px solid @special-grey-lighter;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: calc(50% - 336px);
    top: 12px;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 0;
    border: none;
  }

  @media (min-width: @desktop-width) {
    left: calc(50% - 75px);
    top: -1px;
    z-index: 2;
  }
}

.page-header__logo[href] {
  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
