.product {
  background-color: @basic-white;

  &::after {
    content: "";
    display: block;
    height: 6px;
    margin: 0;
    padding: 0;
    background-image: url("../img/zigzag-separator-mobile.svg");
    background-repeat: repeat-x;
    background-size: 320px 100%;
  }

  @media (min-width: @tablet-width) {
    &::after {
      content: "";
      display: block;
      height: 17px;
      margin: 0;
      padding: 0;
      background-image: url("../img/zigzag-separator-tablet.svg");
      background-repeat: repeat-x;
      background-size: 768px 100%;
      transform: rotate(180deg);
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      content: "";
      display: block;
      height: 23px;
      margin: 0;
      padding: 0;
      background-image: url("../img/zigzag-separator-desktop.svg");
      background-repeat: repeat-x;
      background-size: 1050px 100%;
      transform: rotate(180deg);
    }
  }
}

.product__wrapper {
  padding: 30px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr min-content min-content;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr min-content min-content;
    padding-top: 69px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 72px;
  }
}

.product__item {
  display: flex;
  padding: 9px 0 11px;
  border-bottom: 1px solid @special-grey-lighter;

  &:last-child {
    margin-bottom: 28px;
  }
}

.product__name {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @basic-green;
  text-transform: uppercase;
  padding-bottom: 17px;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    br {
      display: block;
    }

    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    line-height: 17px;
    padding-top: 27px;
    justify-self: flex-start;
    padding-left: 70px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0 auto;
    margin-top: 43px;
    padding-left: 0;
  }
}

.product__image {
  @media (min-width: @tablet-width) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: -1;
    display: block;
    align-self: end;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: -1;
  }
}

.product__title {
  margin: 0;
  order: -1;
  padding-bottom: 3px;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: flex-start;
    padding-top: 21px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 2;
    margin-top: 43px;
    padding-left: 0;
  }
}

.product__container {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: flex-start;
    margin-right: 42px;
    padding-top: 31px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 0;
    margin-right: 55px;
  }
}

.product__text {
  color: @basic-grey;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
  }
}

.product__list {
  color: @basic-grey;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
}

.product__price {
  color: @basic-grey;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: -3;
    grid-row-end: -2;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    justify-self: baseline;
    padding-bottom: 36px;
    padding-left: 72px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: flex-start;
    padding-left: 75px;
  }
}

.product__button {
  margin: 0 auto;
  width: 100%;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: -1;
    grid-row-end: -2;
    margin: 0;
    width: 292px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    margin: 0;
  }
}
