.product {
  background-color: @basic-white;
}

.product__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 30px;
  outline: 5px solid lime;
  outline-offset: -5px;
}

.product__name {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @basic-green;
}

.product__title {
  margin: 0;
}

.product__text {
  color: @basic-grey;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
}

.product__list {
  color: @basic-grey;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
}

.product__price {
  color: @basic-grey;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
}

.product__button {
  margin: 0 auto;
}
