.reviews {
  background-color: @basic-white;
}

.reviews__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 30px;
  outline: 5px solid fuchsia;
  outline-offset: -5px;
}

.reviews__title {
  margin: 0;
}

.reviews__item {
  color: @basic-grey;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  margin: 0;
}

.reviews__item--name {
  color: @basic-black;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
}

.reviews__item--link {
  color: @basic-grey;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  text-decoration: none;
  margin: 0;
}

.reviews__button-write {
  color: @basic-grey;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
}
