.sections-nav {
  background-color: @basic-white;
}

.sections-nav__wrapper {
  padding: 0;
  outline: 5px solid orange;
  outline-offset: -5px;
}

.sections-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.sections-nav__item {
  min-height: 115px;
}

.sections-nav__item a {
  color: @basic-white;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
}

.sections-nav__item-left {
  background-color: @basic-green;

  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.sections-nav__item-right {
  background-color: @special-green-darker;

  @media (min-width: @tablet-width) {
    width: 50%;
  }
}
