.site-list {
  background-color: @basic-white;
  outline: 5px solid green;
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
  }


}

.site-list__item a {
  color: @basic-black;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
}
