.slogan {
  background-color: @basic-white;
}

.slogan__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  outline: 5px solid purple;
  outline-offset: -5px;
  min-height: 283px;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 50px;
    min-height: 580px;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
    padding: 0 50px;
  }
}

.slogan__title {
  color: @basic-black;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }

}
