.slogan-form__wrapper {
  background-color: @basic-white;
  width: 320px;
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 37px;
  padding-left: 30px;
  padding-right: 30px;
  outline: 5px solid sienna;
  outline-offset: -5px;
}

.slogan-form__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: @basic-grey;
  margin: 0;
}
