.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
  }
}

.social__item {
  margin-right: 41px;
  padding-bottom: 27px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  @media (min-width: @tablet-width) {
    margin-right: 41px;

    &:nth-child(3n) {
      margin-right: 41px;
    }
  }
}

.social__link {
  color: @basic-black;

  &:hover {
    color: @special-green-underline-2;
  }

  &:active {
    color: @special-green-underline-2;
    opacity: 0.3;
  }
}
