.user-list {
  background-color: transparent;
  /*
  outline: 5px solid green;
  outline-offset: -5px;
*/
  @media (min-width: @tablet-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: right;
  }
}

.user-list__item a {
  color: @basic-black;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
}
