@basic-black: #000000;
@basic-grey: #444444;
@basic-white: #ffffff;
@basic-green: #63D1BB;

@special-grey: #F1F1F1;
@special-green-darker: #56C3B2;
@special-grey-lighter: #ECECEC;
@special-grey-background: #f9f9f9;
@special-black: #231F20;
@special-green-underline: #62D1BA;
@special-green-underline-2: #46C1AE;
@special-grey-divide: #e5e5e5;
@special-green-icon: #149080;
@special-grey-modal: #c6c6c6;
@special-green-hover: #59D5BC;


// Viewports

@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-width-only: 767px;
